@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Role Düzenleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="RoleID" />

    <label>Rol Adını Giriniz</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />

    <button class="btn btn-outline-success">Rolü Düzenle</button>

</form>